<!DOCTYPE html>
<html>
  <head>
    <%= javascript 'jquery-3.3.1.min' %>
    <%= javascript 'bootstrap.min' %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'main.css' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Weather</title>
    <%= favicon %>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
